{% extends 'main.html' %}

{% block content %}
<div class="container d-flex justify-content-center py-5">
  <div class="col-md-8">
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert"> 
        {% if form.non_field_errors %}
            {{form.non_field_errors}}
        {% endif %}
        {% for field in form %}
            {% for error in field.errors %}
                {{field.label}} : {{error|escape}}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <h2>Payment Details</h2>
    <hr>
    <form method="post" enctype="multipart/form-data" id="paymentForm" data-amount-url="{% url 'get_payment_amount' %}">
      {% csrf_token %}
        <div class="form-input">
            {% for field in form %}
            <div class="input-item">
                <div class="label">{{field.label}}</div> 
                {{field}}
            </div>
            {% endfor %}
        </div>
        <br>
        <a class="btn btn-warning" href="{{cancel_url}}">Cancel</a>
        <input class="btn btn-primary" type="submit" name="Submit">
    </form>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $("#id_service").change(function () {
      var url = $("#paymentForm").attr("data-amount-url");
      var serviceId = $(this).val(); 
      $.ajax({
        url: url,
        data: {
          'service_id': serviceId
        },
        success: function (data) {
          $("#id_amount").val(data);
        }
      });

    });
</script>
{% endblock js%}