{% load custom_finance_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }

        .button {
            text-decoration: none;
            border: none;
            background-color: #0d6efd;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        .amount {
            border: 1px solid black;
            padding: 10px;
            width: max-content;
        }
    </style>
</head>
<body>
    Greetings,
    <div class="content">
        <div class="heading">
            <h2>Payment for the service: {{service}} has been completed.</h2>
        </div>
        <div class="body">
            <div class="service-details">
                <h3>Service Details:</h3>
                <ul>
                    <li>Service: {{service}}</li>
                    <li>Paid For (Month): {{payment_for_month}}</li>
                </ul>
            </div>
            <div class="payment-details">
                <h3>Payment Details:</h3>
                <ul>
                    <li>Amount Paid: {{amount|represent_as_currency}}</li>
                    <li>Invoice Number: {{invoice_no}}</li>
                    <li>Card Used: {{card_no}}</li>
                </ul>
            </div>
            <p>Kindly Requesting the amounts to be credited to the suggest account.</p>
            <p>Please revert for any information required further</p>
            <p>Regards,</p>
        </div>
    </div>
</body>
</html>