{% extends 'main.html' %}

{% block content %}
<div class="container d-flex justify-content-center py-5">
    <div class="col-md-8">
        <h2>Service Details</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-input">
                {% for field in form %}
                <div class="input-item">
                    <div class="label">{{field.label}}</div> 
                    {{field}}
                </div>
                {% endfor %}
            </div>
            <br>
            <a class="btn btn-warning" href="{{cancel_url}}">Cancel</a>
            <input class="btn btn-primary" type="submit" name="Submit">
        </form>
    </div>
</div>
{% endblock content %}