{% extends 'main.html' %}

{% block content %}
    <div class="container px-4">
        <!--Service ID Title with action buttons-->
        <div class="d-flex py-3">
            <div class="me-auto p-2 bd-highlight">
              <h2>{{service.service_id}}</h2>
            </div>
            <div class="p-2 bd-highlight">
              <p>
                <a href="{% url 'service_update' service.id %}" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Edit   
                </a>
              </p>
            </div>
            <div class="p-2 bd-highlight">
              <a href="{% url 'service_delete' service.id %}" class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
              </a>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <div class="fw-bold">{{message}}</div>
            </div>
            {% endfor %}
        {% endif %}
        <!--3 card row with Payment info -->
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Service Info</h3>
                    <hr>
                    <p>Category : {{service.category}}</p>
                    <p>Platform : {{service.platform}}</p>
                    <p>End User : {{service.end_user}}</p>
                    <p>Payment Interval : {{service.get_payment_interval_display}}</p>
                    <p>Current Cost : {{service.current_cost}}</p>
                    <p>Due Date (Day of Month) : {{service.estimated_due_date}}</p>
                    <p>Status : {{service.status}}</p>
                </div>
            </div>
        </div>
    </div>
    

    
{% endblock %}