{% extends 'hardware/main.html' %}

{% block content %}
<div class="container d-flex justify-content-center py-5">
    <div class="col-md-8">
        <h4>Editing {{laptop.hardware_id}}'s Information</h4>
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert"> 
            {% for field in form %}
                {% for error in field.errors %}
                    {{field.label}} : {{error|escape}}
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <br>
        <form action="" type="submit" method="POST" name="submit">
            {% csrf_token %}
            <div class="form-input">
                {% for field in form %}
                <div class="input-item">
                    <div class="label">{{field.label}}</div> 
                    {{field}}
                </div>
                {% endfor %}
            </div>
            <br>
            {% if request.resolver_match.url_name == 'laptop_edit' %}
                <a class="btn btn-warning" href="{% url 'laptop' laptop.id %}">Cancel</a>
            {% endif %}
            <input class="btn btn-primary" type="submit" name="Submit">
        </form>
    </div>
</div>
{% endblock %}