{% extends 'hardware/main.html' %}

{% block content %}
<div class="container px-4">
    <!--Title with action buttons New and Filter-->
    <div class="d-flex py-3">
        <div class="me-auto p-2 bd-highlight">
          <h2>Laptops</h2>
          {% if messages %}
          <br>
          <div class="alert alert-success alert-dismissible" role="alert">
              {% for message in messages %}
                {% if "successful_delete" in message.tags %}
                  <div class="fw-bold">{{message}}</div>
                {% endif %}
              {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="p-2 bd-highlight">
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="bi bi-funnel-fill"></i> Filter   
            </a>
          </p>
        </div>
        <div class="p-2 bd-highlight">
          <a href="{% url 'laptop_add' %}" class="btn btn-primary">
            <i class="bi bi-plus-square"></i> New
          </a>
        </div>
    </div>
    
    <!--Filter-->
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form method="GET">
            Serial No. : {{myFilter.form.laptop_sr_no}}
            Hardware ID: {{myFilter.form.hardware_id}}
            Brand: {{myFilter.form.brand}}
            Status: {{myFilter.form.laptop_status}}
            Location: {{myFilter.form.laptop_location}}
    
            <button class="btn btn-secondary" type="submit">Search</button>
          </form>
        </div>
    </div>

    <!-- Laptops Table-->
    <div class="card card-body">
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">Hardware ID</th>
                <th scope="col">Sr No</th>
                <th scope="col">Staus</th>
                <th scope="col">Age</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
                {% for laptop in page_obj %}
                    <tr>
                        <td>{{laptop.hardware_id}}</td>
                        <td><a href="{% url 'laptop' laptop.id %}">{{laptop.laptop_sr_no}}</a></td>
                        <td>{{laptop.laptop_status}}</td>
                        <td>{{laptop.laptop_age}}</td>
                        <td>{{laptop.laptop_branch}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
    <!-- Pagination -->
    <br>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
          {% endif %}
    
          
          <li class="page-item"><a href="#" class="page-link"><strong>{{ page_obj.number }}</strong> of {{ page_obj.paginator.num_pages }}</a></li>
    
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}