.employee-filter-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px 0px;
    padding: 10px;
}

.laptop-filter-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px 0px;
    padding: 10px;
}

.filter-fields {
    border: 1px solid grey;
    border-radius: 8px;
    height: 30px;
    padding: 0px 10px;
    width: 90%;
    height: 40px;
}

.filter-field-parent {
    display: flex;
    justify-content: center;
}

.filter-button {
    width: 90%;
}