<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hardware Assignement Form</title>
</head>
<body class="border border-stone-900 p-5">
    <div class="text-center flex flex-col">
        <h1 class="text-3xl font-bold mb-3">{{form_title}}</h1>
        <h3 class="text-xl">Learnfluence Education Private Limited</h3>
    </div>
    <div class="flex justify-between py-5">
        <div>
            <ul>
                <li class="py-1">Employee Name: {{employee.emp_name}}</li>
                <li class="py-1">Employee ID: {{employee.lk_emp_id}}</li>
                <li class="py-1">Employee Department: {{employee.dept_id}}</li>
            </ul>
        </div>
        <div class="mr-52">
            <ul>
                <li class="py-1">Assigned Date:</li>
                <li class="py-1">Assigned By:</li>
            </ul>
        </div>
    </div>
    <table class="table-fixed w-full border border-slate-500 text-center">
        <tr>
            <th class="border border-slate-600">Sl No.</th>
            <th class="border border-slate-600">Hardware ID</th>
            <th class="border border-slate-600">Serial Number</th>
            <th class="border border-slate-600">Remarks</th>
        </tr>
        <tr>
            <td class="border border-slate-600 py-1">1</td>
            <td class="border border-slate-600 py-1">{{laptop.hardware_id}}</td>
            <td class="border border-slate-600 py-1">{{laptop.laptop_sr_no}}</td>
            <td class="border border-slate-600 py-1">{{laptop.laptop_return_remarks}}</td>
        </tr>
        <tr>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
        </tr>
        <tr>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
        </tr>
        <tr>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
        </tr>
        <tr>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
            <td class="border border-slate-600 py-1">-</td>
        </tr>
    </table>
    <div class="flex flex-col text-center py-10">
        <h1 class="text-xl font-bold pb-3">ACKNOWLEDGEMENT AND DECLARATION</h1>
        <p>
            I, Ms/Mr _________{{employee.emp_name}}__________ hereby acknowledge that I have received the above mentioned assets. I understand that this asset belongs to Learnfluence
            Education Pvt Ltd. and is under my possesion for carrying out my office work. I hereby assume that I will take care of the assets of the company to the best possible extent.
        </p>
    </div>
    <div class="mt-8">
        <ul class="flex justify-around">
            <li>Requestor's Signature</li>
            <li>Handover Agent's Signature</li>
            <li>Approver's Signature</li>
        </ul>
    </div>
</body>
</html>