{% extends 'hardware/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container px-4">
  <!--Title with action buttons-->
  <div class="py-4 d-flex justify-content-between align-items-center">
    <h2 class="mr-auto">Employees</h2>
    <a href="#" class="btn btn-primary">New</a>
  </div>

  <!--Employee List Table-->
  <div class="card card-body">
      <form method="GET">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      <table class="table table-stripped">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Department</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <td>{{employee.emp_id}}</td>
              <td><a href="{% url 'employee' pk=employee.emp_id %}">{{employee.emp_name}}</a></td>
              <td>{{employee.loc_id}}</td>
              <td>{{employee.dept_id}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      
  </div>
</div
{% endblock %}