{% extends 'hardware/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container px-4">
  <!--Title with action buttons-->
  <div class="d-flex py-3">
    <div class="me-auto p-2 bd-highlight">
      <h2>Employees</h2>
    </div>
    <div class="p-2 bd-highlight">
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-funnel-fill"></i> Filter   
        </a>
      </p>
    </div>
    <div class="p-2 bd-highlight">
      <a href="{% url 'employee_add' %}" class="btn btn-primary">
        <i class="bi bi-plus-square"></i> New
      </a>
    </div>
  </div>

  <!--Employee List Table-->
  <div class="card card-body">
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form method="GET">
          Employee Name: {{myFilter.form.name_contains}}
          Department: {{myFilter.form.dept_id}}
          Designation: {{myFilter.form.desig_id}}
          Status: {{myFilter.form.emp_status}}
  
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
      <table class="table table-stripped">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Department</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <td>{{employee.emp_id}}</td>
              <td><a href="{% url 'employee' pk=employee.emp_id %}">{{employee.emp_name}}</a></td>
              <td>{{employee.loc_id}}</td>
              <td>{{employee.dept_id}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      
  </div>
</div
{% endblock %}