{% extends 'hardware/main.html' %}

{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-6">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card bg-secondary text-white">
                        <div class="card-header">
                          Laptops in Use
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{laps_in_use.count}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-secondary text-white">
                        <div class="card-header">
                          Available Laptops
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{available_laps.count}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-success">
                        <div class="card-header">
                          Free to assign
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{assignable_laps.count}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-warning">
                        <div class="card-header">
                          Need to Repair
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{repairable_laps.count}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-header">
                          Need to replace
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{replaceable_laps.count}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-secondary text-white">
                <div class="card-header">
                  Actions
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <a class="btn btn-primary" href="{% url 'laptop_add' %}">Add New Laptop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-6">
            <div class="card card-body">
                <h5 class="card-title">Available Laptops</h5>
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Staus</th>
                        <th scope="col">Age</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for lap in available_laps %}
                            <tr>
                                <td><a href="{% url 'laptop' lap.id %}">{{lap.laptop_sr_no}}</a></td>
                                <td>{{lap.laptop_status}}</td>
                                <td>{{lap.laptop_age}}</td>
                                <td>
                                    <a href="{% url 'laptop_edit' lap.id %}" class="btn btn-primary btn-sm">Edit</a> 
                                    <a href="{% url 'laptop_del' lap.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h5 class="card-title">Laps in Use</h5>
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Status</th>
                        <th scope="col">Age</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for lap in laps_in_use %}
                            <tr>
                                <td><a href="{% url 'laptop' lap.id %}">{{lap.laptop_sr_no}}</a></td>
                                <td>{{lap.laptop_status}}</td>
                                <td>{{lap.laptop_age}}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'laptop_edit' lap.id %}">Edit</a> 
                                    <a class="btn btn-danger btn-sm" href="{% url 'laptop_del' lap.id %}">Delete</a> 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}