{% extends 'hardware/main.html' %}

{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-6">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Laptops in Use
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">X</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Available Laptops
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">X</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Free to assign
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">X</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Need to Repair
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">X</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <canvas id="myChart"></canvas>
              </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-6">
            <div class="card card-body">
                <h5 class="card-title">Free Laptops</h5>
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Location</th>
                        <th scope="col">Age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h5 class="card-title">Total Laptops</h5>
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Location</th>
                        <th scope="col">Age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}