{% extends 'hardware/main.html' %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h5 class="card-title">Hardware(s) Assigned</h5>
                <a class="btn btn-primary" href="{% url 'emp_exit_complete' employee_info.emp_id %}">Proceed with Exit</a>
                <table class="table table-stripped">
                    <thead>
                      <tr>
                        <th scope="col">Hardware Type</th>
                        <th scope="col">Hardware ID</th>
                        <th scope="col">Hardware Sr No</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% if employee_info.laptop_assiged.id %}
                        <td>{{hardware_type}}</td>
                        <td>{{employee_info.laptop_assiged}}</td>
                        <td><a href="{% url 'laptop' employee_info.laptop_assiged.id %}">{{employee_info.laptop_assiged.laptop_sr_no}}</a></td>
                        {% else %}
                        <td>Not Assigned</td>
                        <td>Not Assigned</td>
                        <td>Not Assigned</td>
                        {% endif %}
                      </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}