{% extends 'hardware/main.html' %}

{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{employee_info.emp_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{employee_info.desig_id}}, {{employee_info.dept_id}}</h6>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <h5 class="card-title">Hardware Assigned</h5>
                    <table class="table table-stripped">
                        <thead>
                          <tr>
                            <th scope="col">Employee ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Department</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for employee in employees %}
                          <tr>
                            <td>{{employee.emp_id}}</td>
                            <td>{{employee.emp_name}}</td>
                            <td>{{employee.loc_id}}</td>
                            <td>{{employee.dept_id}}</td>
                            <td><a href="#">Edit</a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}