{% extends 'hardware/main.html' %}

{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{employee_info.emp_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{employee_info.desig_id}}, {{employee_info.dept_id}}</h6>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <h5 class="card-title">Hardware(s) Assigned</h5>
                    <table class="table table-stripped">
                        <thead>
                          <tr>
                            <th scope="col">Hardware Type</th>
                            <th scope="col">Hardware ID</th>
                            <th scope="col">Hardware Sr No</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% if employee_info.laptop_assiged.id %}
                            <td>{{hardware_type}}</td>
                            <td>{{employee_info.laptop_assiged}}</td>
                            <td><a href="{% url 'laptop' employee_info.laptop_assiged.id %}">{{employee_info.laptop_assiged.laptop_sr_no}}</a></td>
                            {% else %}
                            <td>Not Assigned</td>
                            <td>Not Assigned</td>
                            <td>Not Assigned</td>
                            {% endif %}
                          </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4>Edit History</h4>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>Change Made</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in changes %}
                    <tr>
                        <td>{{change.new_record.history_date}}</td>
                        <td>
                            {% if change.changed_fields|length > 0 %}
                                {% for change_by_id in change.changes %}
                                    The field: <b>{{change_by_id.field|title}}</b> was changed from:
                                    {% if change_by_id.old %}
                                        <b>{{change_by_id.old}}</b>
                                    {% else %}
                                        <b>blank field</b>
                                    {% endif %}
                                    for <b>{{change_by_id.new}}</b>
                                    <br>
                                {% endfor %}
                            {% else %}
                                There was no changes to this edition
                            {% endif %}
                        </td>
                        <td>{{change.new_record.history_user}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
{% endblock %}