{% extends 'hardware/main.html' %}

{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"> Hardware ID: {{laptop_info.hardware_id}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Age: {{laptop_info.laptop_age}}</h6>
            </div>
        </div>
    </div>

    <!--Employee to who this Laptop has been assigned-->
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <h5 class="card-title">Employe Assigned</h5>
                    <table class="table table-stripped">
                        <thead>
                          <tr>
                            <th scope="col">Employee ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Department</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% if laptop_info.emp_id %}
                                <td>{{laptop_info.lk_emp_id}}</td>
                                <td>{{laptop_info.emp_id.emp_name}}</td>
                                <td>{{laptop_info.emp_id.loc_id}}</td>
                                <td>{{laptop_info.emp_id.dept_id}}</td>
                            {% else %}
                                <td>Not Assigned</td>
                                <td>Not Assigned</td>
                                <td>Not Assigned</td>
                                <td>Not Assigned</td>
                            {% endif %}
                          </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    <!--History Section-->
    <div class="container my-4">
      <div class="card card-body">
        <div class="card-title h5">History</div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>Date/Time</th>
                      <th>Change Made</th>
                      <th>User</th>
                  </tr>
              </thead>
              <tbody>
                  {% for change in changes %}
                  <tr>
                      <td>{{change.new_record.history_date}}</td>
                      <td>
                          {% if change.changed_fields|length > 0 %}
                              {% for change_by_id in change.changes %}
                                {% if change_by_id.field == 'emp_id' %}
                                    The Laptop was transfered from
                                    {% if change_by_id.old %}
                                        <b><a href="{% url 'employee' change_by_id.old %}">{{change_by_id.old}}</a></b>
                                    {% else %}
                                        the <b>Laptop Inventory</b>
                                    {% endif %}
                                    {% if change_by_id.new == None %}
                                        back to the <b>Laptop Inventory</b>
                                    {% else %}
                                        to <b><a href="{% url 'employee' change_by_id.new %}">{{change_by_id.new}}</a></b>
                                    {% endif %}
                                    <br>
                                {% elif change_by_id.field == 'laptop_date_returned' %}
                                    The Laptop was returned on <b>{{change_by_id.new}}</b>
                                {% elif change_by_id.field == 'laptop_return_remarks' %}
                                    and had the following remarks: <b>{{change_by_id.new}}</b>
                                {% else %}
                                    The field: <b>{{change_by_id.field|title}}</b> was changed from:
                                    {% if change_by_id.old %}
                                        <b>{{change_by_id.old}}</b>
                                    {% else %}
                                        <b>blank field</b>
                                    {% endif %}
                                    for <b>{{change_by_id.new}}</b>
                                    <br>
                                {% endif %}
                              {% endfor %}
                          {% else %}
                              There was no changes to this edition
                          {% endif %}
                      </td>
                      <td>{{change.new_record.history_user}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
    </div>
    
{% endblock %}