{% extends 'hardware/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you wanna delete "{{laptop.laptop_sr_no}}"</p>
            <form action="{% url 'laptop_del' laptop.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'dash_laptops' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}