
<style>
  .logout-text {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">miniERP</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              New
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'onbrd_emp_add' %}">Onboarding</a></li>
              <li><a class="dropdown-item" href="#">Replacement Request</a></li>
              <li><a class="dropdown-item" href="#">Exit Process</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'dash_employees' %}">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'dash_laptops' %}">Laptops</a>
          </li>
        </ul>
      </div>

      <span class="logout-text">Hello, {{request.user}}</span>
      <span><a class="logout-text" href="{% url 'logout' %}">Log out</a></span>
    </div>
  </nav>