body {
    font-family: 'Inter', sans-serif;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px 50px;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 10px;
}

#id_emp_name,
#id_desig_id,
#id_dept_id,
#id_emp_email,
#id_emp_phone,
#id_loc_id,
#id_emp_status {
    border: 1px solid grey;
    border-radius: 8px;
    height: 40px;
    padding: 10px;
}