body {
    font-family: 'Inter', sans-serif;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px 50px;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 10px;
}

.employee-form-fields,
.laptop-form-fields {
    border: 1px solid grey;
    border-radius: 8px;
    height: 45px;
    padding: 10px;
}

input.laptop-form-fields:focus,
input.employee-form-fields:focus,
select.employee-form-fields:focus {
    outline-color: #0d6efd;
}