{% extends 'main.html' %}

{% block content %}
<div class="container p-4">
    <div class="row">
        <div class="col-12 border p-3" style="width: 300px;">
            <canvas id="laptopByStatus"></canvas>
        </div>
        <div class="col-12 border p-3" style="width: 300px;">
            <canvas id="laptopByBranch"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border p-3" style="width: 300px;">
            <canvas id="laptopByAvailability"></canvas>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script>
    let laptopByStatus = createChartWithData(
        "{% url 'chart_by_status' %}",
        "laptopByStatus",
        "laptop_status",
        "Laptop Condition"
    );
    let laptopByBranch = createChartWithData(
        "{% url 'chart_by_status' %}",
        "laptopByBranch",
        "laptop_branch",
        "Laptop Branchwise"
    );
    let laptopByAvailability = createChartWithData(
        "{% url 'chart_by_status' %}",
        "laptopByAvailability",
        "laptop_availability",
        "Laptop Availability"
    );
</script>

{% endblock js%}