{% extends 'hardware/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-4">
    <div class="progress my-4" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h4>Available Laptops at {{onboarded_emp.loc_id}}</h4>
                {% if messages %}
                <br>
                <div class="alert alert-success alert-dismissible" role="alert">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </div>
                {% endif %}
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th scope="col">Hardware ID</th>
                        <th scope="col">Sr No</th>
                        <th scope="col">Staus</th>
                        <th scope="col">Age</th>
                        <th scope="col">Location</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for lap in free_laptops %}
                            <tr>
                                <td>{{lap.hardware_id}}</td>
                                <td>{{lap.laptop_sr_no}}</td>
                                <td>{{lap.laptop_status}}</td>
                                <td>{{lap.laptop_age}}</td>
                                <td>{{lap.laptop_branch}}</td>
                                <td><a href="{% url 'onbrd_complete' lap.id %}" class="btn btn-primary btn-sm">Assign</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
        </div>
    </div>
</div>

{% endblock %}