{% extends 'hardware/main.html' %}

{% block content %}
<div class="container px-4">
    <div class="row py-3 d-flex">
        <div class="col">
            <div class="card card-body align-items-center">
                <p>Are you sure you wanna delete "{{employee}}"</p>
                <form action="{% url 'employee_del' employee.emp_id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'employee' employee.emp_id %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" name="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}