{% extends 'main.html' %}

{% block content %}
    <!--Employee Info along with Hardware Assigned card-->
    <div class="container px-4">
        <!--Employee Title with action buttons-->
        <div class="d-flex py-3">
            <div class="me-auto p-2 bd-highlight">
              <h2>{{employee_info.emp_name}}</h2>
            </div>
            <div class="p-2 bd-highlight">
              <p>
                <a href="{% url 'employee_edit' employee_info.emp_id %}" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Edit   
                </a>
              </p>
            </div>
            <div class="p-2 bd-highlight">
              <a href="{% url 'employee_del' employee_info.emp_id %}" class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
              </a>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <div class="fw-bold">{{message}}</div>
            </div>
            {% endfor %}
        {% endif %}
        <!--Information & Hardware Assigned Cards-->
        <div class="row">
            <!--Information Card-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"><h4>Information</h4></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Desingation: {{employee_info.desig_id}}</li>
                            <li class="list-group-item">Department: {{employee_info.dept_id}}</li>
                            <li class="list-group-item">Employee ID: {{employee_info.lk_emp_id}}</li>
                            <li class="list-group-item">Employee Email: {{employee_info.emp_email}}</li>
                            <li class="list-group-item">Employee Phone: {{employee_info.emp_phone}}</li>
                            <li class="list-group-item">Location: {{employee_info.loc_id}}</li>
                            <li class="list-group-item" >Status: 
                                {% if employee_info.emp_status == "InActive" %}
                                    <span style="color: red; font-weight: bold;">{{employee_info.emp_status}}</span>
                                {% else %}
                                    <span style="color: green; font-weight: bold;">{{employee_info.emp_status}}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Hardware Assigned Card-->
            <div class="col-md-8">
                <div class="card card-body">
                    <h4 class="card-title">Hardware(s) Assigned</h4>
                    <table class="table table-stripped">
                        <thead>
                          <tr>
                            <th scope="col">Hardware Type</th>
                            <th scope="col">Hardware ID</th>
                            <th scope="col">Hardware Sr No</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if number_of_laptops == ">1" %}
                            {% for laptop in laptop_assigned %}
                            <tr>
                                <td>{{hardware_type}}</td>
                                <td>{{laptop.hardware_id}}</td>
                                <td><a href="{% url 'laptop' laptop.id %}">{{laptop.laptop_sr_no}}</a></td>
                            </tr>
                            {% endfor %} 
                            {% elif number_of_laptops == "1" %}
                            <tr>
                                <td>{{hardware_type}}</td>
                                <td>{{laptop_assigned.hardware_id}}</td>
                                <td><a href="{% url 'laptop' laptop_assigned.id %}">{{laptop_assigned.laptop_sr_no}}</a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>Not Assigned</td>
                                <td>Not Assigned</td>
                                <td>Not Assigned</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Edit History Table-->
    <div class="container px-4 py-3">
        <div class="col">
            <div class="card card-body">
                <div class="card-title"><h4>Edit History</h4></div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Date/Time</th>
                                <th>Change Made</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for change in changes %}
                            <tr>
                                <td>{{change.new_record.history_date}}</td>
                                <td>
                                    {% if change.changed_fields|length > 0 %}
                                        {% for change_by_id in change.changes %}
                                            The field: <b>{{change_by_id.field|title}}</b> was changed from:
                                            {% if change_by_id.old %}
                                                <b>{{change_by_id.old}}</b>
                                            {% else %}
                                                <b>blank field</b>
                                            {% endif %}
                                            for <b>{{change_by_id.new}}</b>
                                            <br>
                                        {% endfor %}
                                    {% else %}
                                        There was no changes to this edition
                                    {% endif %}
                                </td>
                                <td>{{change.new_record.history_user}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}