{% extends 'main.html' %}

{% block content %}
<div class="container px-4">
    <div class="me-auto py-3 bd-highlight">
        <h2>Admin Panel</h2>
    </div>
    <div class="list-group">
        <a href="{% url 'department_list_create' %}" class="list-group-item list-group-item-action">Departments</a>
        <a href="{% url 'designation_list_create' %}" class="list-group-item list-group-item-action">Designations</a>
        <a href="#" class="list-group-item list-group-item-action">Branches</a>
        <a href="#" class="list-group-item list-group-item-action">Buildings</a>
    </div>
</div>
{% endblock content %}