{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row my-4">
        <div class="col">
            <div class="card card-body">
                <h5 class="card-title">Employee List</h5>
                <form method="GET">
                  {{myExitFilter.form}}
                  <button class="btn btn-primary" type="submit">Search</button>
                </form>
                <table class="table table-stripped">
                    <thead>
                      <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Department</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for employee in employees %}
                      <tr>
                        <td>{{employee.lk_emp_id}}</td>
                        <td><a href="{% url 'employee' pk=employee.emp_id %}">{{employee.emp_name}}</a></td>
                        <td>{{employee.loc_id}}</td>
                        <td>{{employee.dept_id}}</td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'emp_exit_confirm' pk=employee.emp_id %}">Initiate Exit</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}